@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@400;700&display=swap');

.nounDepositContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  position: relative;
  background: none;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
  width: 45%;
  border-radius: 8px;
  margin-top: 2rem;
  padding-bottom: 2rem;
}

.nounDepositWrapper {
  background-image: url('/bank.svg');
  background-size: 75% auto;
  background-position: center;
  background-repeat: no-repeat;
  width: 600px;
  height: 400px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 1rem;
}

.nounDepositButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 80px;
  background: #61626d;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin: -5rem auto 0;
}

.nounDepositButton:hover {
  background: #abaaa8;
  border-radius: 8px;
}

.buttonText {
  color: #ffc110;
  font-family: 'Londrina Solid', sans-serif;
  font-size: 24px;
  font-weight: regular;
  text-align: center;
  z-index: 1;
}

.nounDepositButton:hover .buttonText {
  color: #61626d;
}

.nounPopup {
  background-image: url('/safe.svg');
  background-size: 75% auto;
  background-position: top;
  background-repeat: no-repeat;
  margin: 0 auto;
  margin-bottom: 2rem;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  width: 800px;
  min-height: 300px;;
  height: auto;
  max-height: none;
  padding: 10px;
  z-index: 1000;
  overflow: visible;
}

.popupHeader {
  font-family: 'Londrina Solid', sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: #d6c3be;
  margin-bottom: 20px;
  transform: translate(-9%, -25%);
}

.closeButton {
  position: absolute;
  transform: translate(165%, 45%);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: none;
  width: 100px;
  height: 40px;
  font-family: 'Londrina Solid', sans-serif;
  font-size: 28px;
  font-weight: regular;
  line-height: 1;
  color: #d6c3be;
  background: rgba(236, 6, 6, 0.1);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.closeButton:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.nounList {
  margin: 0 auto;
  display: flex;
  width: 340px;
  height: 150px;
  transform: translate(-20%, 0%);
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  overflow-y: hidden;
}

.nounItem {
  margin: 0 auto;
  cursor: pointer;
  text-align: center;
  background-color: #d6c3be;
  border-radius: 8px;
  padding: 5px;
}

.nounId {
  font-weight: 400;
  text-align: center;
  margin-top: .25rem;
  margin-bottom: .5rem;
  font-size: 14px;
}

.nounSvg {
  position: relative;
  border-radius: 8px;
  z-index: 1;
  max-width: 100%;
  max-height: 100%;
}

.depositContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.nounDepositButton span {
  text-align: center;
}

.noNouns {
  margin: 0 auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 5px;
  font-size: 14px;
}

.loadingNoun {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
}

.selectedNounContainer {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  text-align: center;
  width: 150px;
  height: 150px;
  transform: translate(-45%, -2.5%);
  background-color: #f0f0f0;
  border: none;
  border-radius: 8px;
  margin-bottom: 20px;
}

.selectedNounContainer .nounItem {
  cursor: default;
}

.backButton {
  position: absolute;
  left: -6rem;
  top: 3rem;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  padding: 10px;
  color: #d6c3be;
  transition: color 0.3s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.backButton:hover {
  color: #f3322c;
}

.backArrow {
  font-family: 'Londrina Solid', sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 1;
}

.backText {
  font-family: 'Londrina Solid', sans-serif;
  font-weight: 400;
  font-size: 12px;
  margin-top: 5px;
  white-space: nowrap;
}

.selectedNounImage {
  width: 150px;
  height: 150px;
  border: none;
  border-radius: 8px;
  object-fit: contain;
}

.approveButton {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: 'Londrina Solid', sans-serif;
  font-size: 18px;
  margin-top: 0px;
  transform: translate(-50%, 150%);
}

.approveButton:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.fragmentSizeSelector {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 5rem;
  font-family: 'Londrina Solid', sans-serif;
}

.fragmentSizeSelector h3 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #343235;
}

.fragmentSizeSelector input {
  font-family: 'Londrina Solid', sans-serif;
  padding: 16px 20px;
  width: 230px;
  font-size: 18px;
  border: 2px solid #e1d7d5;
  border-radius: 8px;
  margin-bottom: 10px;
}

.fragmentSizeSelector input:focus {
  outline: none;
  border-color: #d5d7e1;
  box-shadow: 0 0 5px rgba(213, 215, 225, 0.5);
}

.depositButton {
  font-family: 'Londrina Solid', sans-serif;
  background-color: #e1d7d5;
  color: #343235;
  border: none;
  padding: 10px 32px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 8px;
  margin-top: 20px;
  transition: all 0.3s ease;
}

.depositButton:hover {
  background-color: #d5d7e1;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}