@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@100;400&display=swap');

.connectButton, .accountButton, .chainButton {
  font-family: 'Londrina Solid', sans-serif;
  background-color: #fff;
  border: none;
  color: #343235;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
  transition: all 0.3s ease;
}

.connectButton:hover, .accountButton:hover, .chainButton:hover {
  background-color: #f0f0f0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.connectedButtons {
  display: flex;
  gap: 10px;
}

.ensAvatar {
  width: 36px;
  height: 36px;
  border-radius: 2px;
  margin-right: .5rem;
  vertical-align: middle;
}

.buttonContent {
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttonText {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.balanceText {
  margin-left: .75rem;
}

.walletIconWrapper {
  width: 88px;
  height: 44px;
  overflow: hidden;
}

.walletIcon {
  width: 100%;
  height: 100%;
  transform: scale(2.2) translateY(.1rem);
  transform-origin: center center;
}

.buttonText {
  text-align: center;
}

/* Responsive design */
@media (max-width: 600px) {
  .connectButton, .accountButton, .chainButton {
    padding: 8px 16px;
    font-size: 14px;
  }
  
  .connectedButtons {
    flex-direction: column;
    gap: 5px;
  }
}