@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@400;700&display=swap');

.container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .button {
    font-family: 'Londrina Solid', sans-serif;
    background-color: #e1d7d5;
    color: #343235;
    border: none;
    padding: 10px 32px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 0 8px 8px 0;
  }
  
  .button:hover {
    background-color: #d5d7e1;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .input {
    font-family: 'Londrina Solid', sans-serif;
    padding: 16px 20px;
    width: 230px;
    font-size: 18px;
    border: 2px solid #e1d7d5;
    border-radius: 8px 0 0 8px;
    margin-right: 10px;
  }

  .input {
    margin-right: 0;
    margin-bottom: 10px;
    padding: 8px 16px;
    width: 200px;
    font-size: 16px;
  }

  .settleButton {
    font-family: 'Londrina Solid', sans-serif;
    background-color: #e1d7d5;
    color: #343235;
    border: none;
    padding: 10px 32px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
  }
  
  .settleButton:hover {
    background-color: #d5d7e1;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

  @media (max-width: 768px) {
    .container {
      flex-direction: column;
      align-items: center;
    }
  
    .input {
      margin-right: 0;
      margin-bottom: 10px;
    }
  }