.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 80px;
  padding: 3rem 2rem;
  background-color: #343235;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.leftSection {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.logo {
  position: relative;
  width: 120px; /* Set a default width */
  height: 80px; /* Set a default height */
}

.logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.treasuryButton {
  margin-left: 1rem; /* Add left margin to the Treasury button */
}

.desktopLinksSection {
  display: flex;
  color: #ffffff;
  gap: 1rem;
  margin-left: auto;
  align-items: center;
}

.playNounsLink {
  color: #ffffff;
  text-decoration: none;
  margin-left: 1rem;
  font-weight: regular;
  transition: color 0.2s ease-in-out;
}

.playNounsLink:hover {
  color: #2b83f6;
  text-decoration: underline;
}

.playMenuContainer {
  position: relative;
  color: #ffffff;
}

.playMenuContainer::after {
  content: '';
  position: absolute;
  height: 15px;
  left: 0;
  right: 0;
  bottom: -15px;
}

.playDropdown {
  position: absolute;
  top: calc(100% + 2rem);
  right: 0px;
  background-color: #343235;
  border: 1px solid #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 0.75rem 0.5rem;
  padding-top: 15px;
  margin-top: -15px;
  z-index: 1;
  display: none;
  text-align: right;
  color: #ffffff;
  width: 150px;
}

.playDropdown .dropdownLink {
  color: inherit; /* Inherit the text color from the parent */
  display: block;
  text-decoration: none;
  padding: 0.75rem 0.5rem; /* Increase vertical padding */
}

.dropdownLink:hover {
  background-color: #4b4949;
  color: #2b83f6;
}

.sandwichMenuContainer {
  position: relative;
}

.sandwichMenu {
  display: none;
  cursor: pointer;
  padding: 0.5rem;
  background-color: transparent; /* Change the background color */
  border: none; /* Remove the border */
}

.sandwichMenu span {
  display: block;
  width: 25px;
  height: 3px;
  background-color: #ffffff; /* Change the line color */
  margin-bottom: 5px;
  transition: transform 0.3s ease-in-out; /* Add a transition for animation */
}

.sandwichMenu span:nth-child(1) {
  transform-origin: top left; /* Set the transform origin for the first line */
}

.sandwichMenu span:nth-child(3) {
  transform-origin: bottom left; /* Set the transform origin for the third line */
}

.sandwichMenu.open span:nth-child(1) {
  transform: rotate(45deg); /* Rotate the first line when the menu is open */
}

.sandwichMenu.open span:nth-child(2) {
  opacity: 0; /* Hide the middle line when the menu is open */
}

.sandwichMenu.open span:nth-child(3) {
  transform: rotate(-45deg); /* Rotate the third line when the menu is open */
}

.menuDropdown {
  display: none;
  position: absolute;
  top: calc(100% + 0.5rem); /* Position the dropdown below the sandwich menu */
  right: 0; /* Align the top-right corner of the dropdown with the bottom-right corner of the sandwich menu */
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  z-index: 1;
}

.mobileMenuDropdown {
  left: auto; /* Reset the left position */
  right: 0; /* Align the top-right corner of the dropdown with the bottom-right corner of the sandwich menu */
  transform: none; /* Reset the horizontal centering */
}

@media (min-width: 768px) {
  .playMenuContainer:hover .playDropdown,
  .playMenuContainer:hover::after {
    display: block; /* Show both the dropdown and the invisible area on hover */
  }
}

@media (max-width: 768px) {
  .navbar {
    padding: 0.5rem 1rem;
    height: 60px;
  }

  .leftSection {
    gap: 0.5rem;
    align-items: center;
  }

  .logo {
    width: 90px;
    height: 45px;
  }

  .treasuryButton,
  .ethGasPrice {
    font-size: 0.7rem; /* Reduce font size */
    padding: 0.2rem 0.3rem; /* Reduce padding */
    height: 24px; /* Set a fixed height */
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .desktopLinksSection {
    display: none;
  }

  .sandwichMenuContainer {
    margin-left: auto;
  }

  .sandwichMenu {
    display: block;
  }

  .menuDropdown {
    display: block;
    top: 100%;
    left: auto;
    right: 0;
    transform: none;
    width: 200px;
    background-color: #343235;
    text-align: right;
    color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    z-index: 1;
  }
  
  .menuDropdown .linksSection {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    border-bottom: 1px solid #ffffff;
    padding-top: 0.5rem;
    padding-bottom: 1.5rem;
    margin-bottom: 0rem;
  }
  
  .menuDropdown .playNounsLink {
    color: inherit;
    text-decoration: none;
    font-weight: regular;
    transition: color 0.2s ease-in-out;
  }
  
  .menuDropdown .playNounsLink:hover {
    color: #2b83f6;
    text-decoration: underline;
  }
  
  .menuDropdown .connectButton {
    border-top: 1px solid #ffffff; /* Add a top border */
    padding-top: 1rem; /* Add some padding above the connect button */
  }

  .playSubMenu {
    margin-top: 0.5rem;
  }

  .subMenuLinks {
    margin-top: 0.25rem;
    margin-left: 1rem;
  }

  .subMenuLink {
    display: block;
    color: #ffffff;
    text-decoration: none;
    padding: 1rem 0;
  }

  .subMenuLink:hover {
    text-decoration: underline;
  }

  .menuDropdown .playSubMenu .playNounsLink {
    color: inherit; /* Inherit the text color from the parent */
  }

@media (max-width: 480px) {
  .logo {
    width: 80px;
    height: 40px;
  }

  .treasuryButton,
  .ethGasPrice {
    width: 24px;
    height: 24px;
    font-size: 0.7rem;
  }

  .treasuryButton span,
  .ethGasPrice span {
    display: none;
  }
  }
}