.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #343235;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.leftSection {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.logo {
  position: relative;
  width: 20vw; /* Adjust as needed */
  height: 5vw; /* Adjust as needed */
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    padding: 1rem;
  }

  .leftSection {
    width: 100%;
    justify-content: space-between;
    margin-bottom: 1rem;
  }

  .logo {
    width: 120px;
    height: 40px;
  }
}